* {
    background-color: lightblue;
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h1,
a {
    display: block;
    text-align: center;
}

a:hover {
    color: darkolivegreen;
}

img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 300px;
}

h2 {}

p {}

h3 {}

ul {}

li {}

ol {}

h4 {}