* {
    background-color: lightblue;
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
    margin: 30px;
    margin-left: 67px;
}

ul {
    font-size: 20px;
    list-style: none;
}

li {
    padding: 20px;
    border: 3px solid darkolivegreen;
    /* ridge inset outset hidden */
    width: 300px;
    margin: 20px auto;
}

a:hover {
    color: darkolivegreen;
}